:root {
    --markdown-min-width: 320px;
    --markdown-max-width: 680px;
    --aside-width: 24rem;
    
    --page-font-size: 18px;
    --mono-font-size: 15px;
    
    --roundness: 6px;
    --roundness-ter: 2px;
    
    --gap-larger: 2.75rem;
    --gap-large: 2.25rem;
    --gap-small: 1.25rem;

    --color-lighter: #c9d1d9;
    --color-gray-dark: #333435;
    --color-gray:  rgb(88, 88, 88);
    --color-gray-light:  rgb(107, 109, 112);
    --color-darker: #24292e;
    --color-accent: #58a6ff;
    --color-opaque: rgba(240, 246, 252, 0.15);
    --color-border: rgb(60, 61, 63);
    --color-selection: var(--color-accent);

    --text-primary: var(--color-lighter);
    --text-anchor: var(--color-accent);
    
    --bg-page: #0d1117;
    --bg-code: var(--color-opaque);
    --bg-highlight: #161b22;
    --bg-highlight-bis: var(--color-gray-dark);
    --bg-highlight-ter: var(--color-gray);

    --bg-scroll-track: var(--bg-highlight-bis);
    --bg-scroll-thumb: var(--bg-highlight-ter);
    --bg-scroll-thumb-hover: var( --color-gray-light);

    --toggle-height: 20px;
    --toggle-padding-y: 3px;
    --toggle-width: 48px;
    --toggle-padding-x: 4px;
    --toggle-handle-width: 16px;
    --bg-toggle-track: var(--bg-highlight-ter);


}

.page-logo {
    filter: opacity(0.75);
}

.light-theme .page-logo {
    filter: none;
}

.light-theme {
    --color-accent: #0366d6;
    --color-border: #ebedef;
    --text-primary: var(--color-darker);
    --text-anchor: var(--color-accent);
    --color-opaque: rgba(27, 31, 35, 0.05);
    --bg-page: #fff;
    --bg-highlight: #f6f8fa;
    --bg-highlight-bis: #d6d1d1;
    --bg-highlight-ter: #a7a4a4;
    --bg-scroll-track: var(--bg-highlight);
    --bg-scroll-thumb: var(--bg-highlight-bis);
    --bg-scroll-thumb-hover: var(--bg-highlight-ter);
}

#container {
    padding: 1.5rem clamp(1rem, 5%, 3rem);
    margin: 0 auto;
    display: grid;
    place-content: center;
    grid-template-areas: "md toc" "md posts" "md contact";
    grid-template-columns: minmax(var(--markdown-min-width), var(--markdown-max-width)) var(--aside-width);
    grid-template-rows: auto auto 1fr;
    column-gap: var(--gap-larger);
    row-gap: var(--gap-small);
}

body.index #container {
    grid-template-areas: "md posts";
    grid-template-rows: 1fr;
}

@media screen and (max-width: 1080px) {
    #container {
        display: grid;
        grid-template-areas: "toc" "md" "posts" "contact";
        grid-template-columns: minmax(var(--markdown-min-width), var(--markdown-max-width));
    }
    body.index #container {
        grid-template-areas: "md" "posts";
    }
}

#markdown {
    grid-area: md;
}

#post-list {
    grid-area: posts;
}

#on-this-page {
    grid-area: toc;
}

#contact {
    grid-area: contact;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
    font-size: var(--page-font-size);
    background-color: var(--bg-page);
    word-wrap: break-word;
    color: var(--text-primary);
}

h1 {
    font-size: 175%;
}

h2 {
    font-size: 150%;
}

h3 {
    font-size: 130%;
}

h4 {
    font-size: 115%;
}

h5 {
    font-size: 105%;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: var(--gap-large);
    margin-bottom: var(--gap-small);
    font-weight: 600;
    line-height: 1.25;
}

pre {
    padding: var(--gap-large);
    margin-bottom: var(--gap-large);
    border-radius: var(--roundness);
    overflow: auto;
}

p, pre, table, ul, ol {
    margin: var(--gap-small) 0;
}

table {
    width: 100%;
    border-radius: var(--roundness);
}

tr {
    border-top: 1px solid var(--color-border);
}

th {
    background-color: var(--bg-highlight);
}

tr:nth-child(even) {
    background-color: var(--bg-highlight);
}

td, th {
    border: 1px solid var(--color-border);
    padding: 6px 13px;
}

.markdown ul, .markdown ol {
    padding-left: var(--gap-large);
}

.markdown ul {
    list-style: disc;
}

.markdown li>ul {
    list-style: circle;
}

li ul, li ol {
    margin: 0;
}

.markdown ol {
    list-style: decimal;
}

::-webkit-scrollbar {
    height: 12px;
    width: 14px;
}

::-webkit-scrollbar-track {
    background: var(--bg-scroll-track);
}

::-webkit-scrollbar-thumb {
    background: var(--bg-scroll-thumb);
    border-radius: var(--roundness);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--bg-scroll-thumb-hover);
}

img {
    width: 100%;
    margin: 0 auto;
}

a {
    color: var(--text-anchor);
}

a:hover {
    text-decoration: underline;
}

.markdown h1 a, .markdown h2 a, .markdown h3 a, .markdown h4 a, .markdown h5 a, .markdown h6 a {
    color: inherit;
}

.toc a {
    color: inherit;
}

.toc ol ol {
    padding-left: var(--gap-small);
    list-style: circle;
}

nav#nav {
    background-color: var(--bg-highlight);
    padding: .75rem;
}

nav#nav .nav-content {
    display: flex;
    max-width: calc(var(--markdown-max-width) + var(--aside-width) + var(--gap-large));
    margin: 0 auto;
    align-items: center;
}

#home-link {
    color: inherit;
}

button {
    cursor: pointer;
}

.toggle {
    height: 1.25rem;
    width: 3.25rem;
    display: flex;
    background: var(--bg-highlight-ter);
    padding: 4px;
    border-radius: var(--roundness-ter);
}
.dark-theme .toggle {
    justify-content: flex-end;
}
.toggle-handler {
    background-color: var(--color-accent);
    height: 100%;
    width: 50%;
    border-radius: var(--roundness-ter);
}


code {
    font-family: Menlo, Monaco, Consolas, "Andale Mono", "Ubuntu Mono", "Courier New", monospace;
    background: var(--bg-code);
    border-radius: var(--roundness);
    font-size: 85%;
    padding: .2em .4em;
}

i, em {
    font-style: italic;
}

strong {
    font-weight: bold;
}