<aside id="contact">
    <h2>Contact</h2>
    <ul class="styled">
        <li>
            <a href="https://twitter.com/messages/compose?recipient_id=3169215365">Message @codingsafari</a>
        </li>
        <li>
            <a href="{{ context.path }}/">About Me</a>
        </li>
    </ul>
</aside>