{% set description %}{{content | striptags | truncate(200)}}{% endset %}
{% set canonical %}https://{{ context.host }}{{ context.path }}{{ page.url }}{% endset %}

<link rel="canonical" href="{{ canonical }}" />

<meta name=”robots” content="index, follow" />
<meta name="description" content="{{ description }}" />
<meta name="keywords" content="{{ tags }}" />

<meta property="og:type" content="article" />
<meta property="og:title" content="{{ title }}" />
<meta property="og:description" content="{{ description }}">
<meta property="og:image" content="{{ context.host }}{{ context.path }}/assets/images/fly.jpg" />
<meta property="og:url" content="{{ canonical }}" />
<meta property="og:site_name" content="{{ context.host }}" />