<script>
    function toggleTheme(event) {
        console.log('toggle theme')
        document.documentElement.classList.toggle('light-theme')
        document.documentElement.classList.toggle('dark-theme')
        localStorage.selectedTheme = document.documentElement.classList
    }
</script>

<nav id="nav">
    <div class="nav-content">
        <a id="home-link" href="{{ context.path }}/">Rainbowstack</a>
        <div style="flex: 1"></div>
        <button title="Toggle Darkmode" class="toggle" onclick="toggleTheme(event)">
            <span class="toggle-handler"></span>
        </button>
    </div>
</nav>