<aside id="post-list">
    <h2>Blog Posts</h2>
    <ul class="styled">
        {%- for post in collections.all  -%}
        <li>
            <div class="post">
                <a href="{{ context.path }}{{ post.url }}">{{ post.data.title }}</a>
                <!--p>Published: {{post.data.created}}</p>
                <p>Edited: {{post.date}}</p-->
            </div>

        </li>
        {%- endfor -%}
    </ul>
</aside>