<aside id="post-list">
    <h2>Blog Posts</h2>
    <nav>
        <ul>
            {%- for post in collections.all -%}
            <li>
                <article class="post">
                    <a href="{{ context.path }}{{ post.url }}">{{ post.data.title }}</a>
                    <!--p>Published: {{post.data.created}}</p>
                <p>Edited: {{post.date}}</p-->
                </article>
            </li>
            {%- endfor -%}
        </ul>
    </nav>
</aside>