---
layout: base.njk
title: Nico Braun
subtitle: Solution Architect
tags: ["personal-page", "blog"]
eleventyExcludeFromCollections: true
---

<p>
    Hi, I would love to chat about your IT project. Find me on <a href="https://github.com/bluebrown">Github</a>
    or hit me up via <a href="https://twitter.com/messages/compose?recipient_id=3169215365">@codingsafari</a>.
</p>
<br>
<img src="./assets/images/fly.svg" alt="page logo" style="position: relative; right: 42px">
<br>
